#uploadBtn{
  position: absolute;
  opacity: 0;
}

     
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  background-color:transparent;
}
 

.icon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

Show {
  display: block;
}
.Hide{
  display: none;
}


 .ionButton
    {
        height: 30px;
        width: 80px;
        font-size: 0.8em;
        background-color: transparent;
        -webkit-text-fill-color: white;
    }
    .mainContent
    {
         height: 100%;
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        overflow: hidden ;
        text-align: center;
        span
        {
            position: relative;
            top: 50%;
        }
    }
    .top-overlay-visible
    {
      height:20%;
      width: 100%;
     
      left: 0;
      margin-left: 0% ;
    
    /* background-color: #4e4949; */
      background: linear-gradient(to top, transparent 0%, black 100%);
      background: -moz-linear-gradient(to top, transparent 0%, black 100%);
      background: -webkit-linear-gradient(to top, transparent 0%, black 100%);
      background: -o-linear-gradient(to top, transparent 0%, black 100%);  
      position: fixed;
      z-index: 20;
    }
    .bottom-overlay-visible
    {
      height: 20%;
      width: 100%;
      bottom: 0px;
      left: 0;
      margin-bottom: 0%;
      margin-left: 0% ;
      background:linear-gradient(to bottom, transparent 0%, black);
      background: -moz-linear-gradient(to bottom, transparent 0%, black);
      background: -webkit-linear-gradient(to bottom, transparent 0%, black);
      background: -o-linear-gradient(to bottom, transparent 0%, black);
      position: fixed;
    }
    .topOverlayElements
    {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 1em;
      line-height: 1em;
      top:80px;
      text-align: center;
      color: #6434c1;
      span
      {
        font-size: 1.5em;
      }
    }
     .heart1
    {
      display: inline-block;
      position: fixed;
      width: 20%;
      font-size: 2em;
      line-height: 1em;
      
      
      text-align: center;
      color: white;
      span
      {
        font-size: 1.5em;
      } 
      position: fixed;
      z-index: 20;
    }
    
    .heart 
    {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 2em;
      line-height: 2em;
      top:220px;
      left:140px;
      text-align: center;
      color: white; 
      position: fixed;
      z-index: 20;
    }
    
    .download
    {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 2em;
      line-height: 2em;
      top:290px;
      left:140px;
      text-align: center;
       color: white; 
      position: fixed;
      z-index: 20;
    }

        .closeVideo
    {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 2em;
      line-height: 1em;
      top:20px;
      left:140px;
      text-align: center;
      color: white; 
      position: fixed;
      z-index: 20;
    }
    
       .share
        {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 2em;
      line-height: 2em;
      top:360px;
      left:140px;
      text-align: center;  
      position: fixed;
      z-index: 20;
      color: white; 
    }
 .back
        {
      display: inline-block;
      position: fixed;
       
      font-size: 2em;
      line-height: 2em;
      top:20px;
      left:2px;
      text-align: left;  
      position: fixed;
      z-index: 20;
      color: white; 
    }

    .bottomOverlayElements
    {
      display: inline-block;
      position: fixed;
      width: 100%;
      font-size: 1em;
      line-height: 1em;
      bottom: 20px;
      text-align: center;
      color: white;
      span
      {
        font-size: 1.5em;
      }
    }
    .top-overlay-hidden
    {
      visibility: hidden;
      opacity: 0;
    }
    .bottom-overlay-hidden
    {
      visibility: hidden;
      opacity: 0;
    }

  
 .closeFab
{
     
      display: inline-block;
      position: fixed;
      width: 15px;
      height: 15px;
      font-size: 2em;
      line-height: 1em;
      top:10px;
      left:140px;
      text-align: r;
      color: white;
      span
      {
        font-size: 1.5em;
      } 
      position: fixed;
      z-index: 20;
    
}

.Fullpage
{
  height:80%;
}
.List
{
  max-height: 90%;
}

ion-tabs
{
  height: 10%!important;
  top:90%;
}
 
 .item-block {
    height: auto;
}

.item-ios.item-block .item-inner {
    height: auto;
}
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
 
 .green
 {
  color: green;
 }
 .white
 {
  color: white;
 }
 



 
/* new css */
 

 *, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marvel-device .screen {
  text-align: left;
}

.screen-container {
  height: 100%;
}

/* Status Bar */

.status-bar {
  height: 25px;
  background: #004e45;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
}

.status-bar:after {
  content: "";
  display: table;
  clear: both;
}

.status-bar div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}

/* Chat */

.chat {
  height: calc(100% - 69px);
}

.chat-container {
  height: 100%;
}

/* User Bar */

.user-bar {
  height: 55px;
  background: #092503;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

.user-bar:after {
  content: "";
  display: table;
  clear: both;
}

.user-bar div {
  float: left;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.user-bar .actions {
  float: right;
  margin: 0 0 0 20px;
}

.user-bar .actions.more {
  margin: 0 12px 0 32px;
}

.user-bar .actions.attachment {
  margin: 0 0 0 30px;
}

.user-bar .actions.attachment i {
  display: block;
  transform: rotate(-45deg);
}

.user-bar .avatar {
  margin: 0 0 0 5px;
  width: 36px;
  height: 36px;
}

.user-bar .avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
}

.user-bar .name {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  letter-spacing: 0.3px;
  margin: 0 0 0 8px;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}

.user-bar .status {
  display: block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}

/* Conversation */

.conversation {
  height: calc(100% - 12px);
  position: relative;
   background: #efe7dd url("/assets/pattern.svg") repeat;
  z-index: 0;
}


.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  padding: 0 0;
  margin-bottom: 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose ion-input {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}


.conversation-compose .photo i {
  display: block;
  color: #6d7e39;
  /* color: #7d8488; */
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}

/* Small Screens */

@media (max-width: 768px) {
  .marvel-device.nexus5 {
    border-radius: 0;
    flex: none;
    padding: 0;
    max-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .marvel-device > .screen .chat {
    visibility: visible;
  }

  .marvel-device {
    visibility: hidden;
  }

  .marvel-device .status-bar {
    display: none;
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .conversation {
    height: calc(100vh - 55px);
  }
  .conversation .conversation-container {
    height: calc(100vh - 120px);
  }

 .popover-wrapper , .ion-overlay-wrapper, .sc-ion-popover-md
 {
 top:84%!important;
  width: 100%!important; }
 
.popover-content
{
  top:84%!important;
  width: 100%!important;
}
.sc-ion-popover-md{
  top:84%!important;
  width: 100%!important;
}

.select-modal 
{
   background: rgba(0, 0, 0, 0.5) !important;
   padding: 20% 10%  !important;
}
}